.bold{
    font-weight: bold;
    background-color: antiquewhite;
    
}
*{
    font-family: 'Times New Roman', Times, serif;
}

ul,a{
   
    color: green;
    font-size: large;
}

#head{
    text-align: center;
    box-shadow: 10px solid gray;
    padding-bottom: 10px;
border-bottom: 5px solid green;
    margin-bottom: 30px;
    background-image: url('../logo.png');
    background-repeat: no-repeat;
}
.style{
    margin: 10px ;
    border: 5px solid red;
    padding: 5px;
    box-shadow: 10px 10px 10px  green;
    

}
.hidden{
    /* display: none; */
   /* visibility: hidden; */
}